<div class="principal-div" mat-dialog-content>
    <section class="header-section">
        <div class="div-title">
            <span class="span-title">Remover Produtos</span>
        </div>
        <div class="div-close">
            <span class="material-icons icons" (click)="close()">close</span>
        </div>
    </section>

    <section>
        <div class="message-div">
            <span> Você realmente deseja excluir esse produto ?</span>

        </div>
        <div class="button-div">
            <button>Cancelar</button>
            <button>Confirmar</button>
        </div>

    </section>
</div>